html, body, #root {
  height: 100vh;
}

.ant-card-body {
  padding: 5px !important;
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: black;
}

.ant-carousel .slick-dots li button{
  background-color: black;
}

#main {
  display: flex;
}

.slick-track {
  max-width: 100% !important;
}