html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  padding: 1em;
  width: 100%;
  height: 100vh;
  display: grid !important;
  grid-template-columns: 4fr 1fr;
  gap: 1em;
}

#group-grid {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
}

#sidebar {
  width: 100%;
}